// Quality
.quality {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10rem;
  padding: 2rem 0;

  &__box {
    flex: 0 0 23%;
    height: 15rem;
    text-align: center;

    & img {
      width: 30%;
      margin-bottom: 1rem;
    }
  }

  &__text {
    font-size: 2.2rem;
    font-weight: bold;
  }

  &__text2 {
    font-size: 1.6rem;
  }

  @include respond(phone) {
    margin-top: 0rem;

    &__box {
      flex: 0 0 49%;
      height: 20rem;
    }
  }
}
