// Quality
.quality {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 13rem;
  // background: yellow;

  &__box {
    flex: 0 0 23%;
    height: 15rem;
    // background-color: $color-palette-1;
    text-align: center;

    & img {
      width: 30%;
      margin-bottom: 1rem;
    }
  }

  &__text {
    font-size: 1.9rem;
  }
}
